<footer class="row-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <img src="images/logo.png">
            </div>

            <div class="col-xs-6 col-sm-2">
              <h5>Company</h5>
              <ul class="list-unstyled">
                <li>
                  Repertoire
                </li>
                <li>
                  Performances
                </li>
                <li>
                  Talent
                </li>
                <li>
                  Team &nbsp; Vision
                </li>
              </ul>
            </div>

            <div class="col-xs-6 col-sm-2">
              <h5>Support</h5>
              <ul class="list-unstyled">
                <li>
                  FAQ
                </li>
                <li>
                  Help
                </li>
                <li>
                  Contact Us
                </li>
              </ul>
            </div>

            <div class="col-xs-6 col-sm-2">
              <h5>Legal</h5>
              <ul class="list-unstyled">
                <li>
                  Terms of Service
                </li>
                <li>
                  Privacy Policy
                </li>
              </ul>
            </div>

        </div>
    </div>
</footer>
