<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="app"><img src="images/logo.png" height=30 width=41></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                  <a ui-sref="app">
                    <span class="glyphicon glyphicon-home active" aria-hidden="true" ></span>
                    Home
                  </a>
                </li>
                <li>
                  <a ui-sref="app.musicians">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                      Talent
                  </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="jumbotron">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="container">
      <center>
        <div class="row row-header">
            <img src="images/logo.png" class="img-responsive">
            <h1>Ensemble</h1>
            <p>Musicians En-ssemble!</p>
        </div>
      </center>
    </div>
</header>
